body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.product-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
}

.product-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    color: #777;
    margin: 5px 0;
}

.product-description {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
}

#quantity {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.total-price {
    font-size: 18px;
    margin: 10px 0;
}

.buy-button {
    padding: 10px 20px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #218838;
}
